@page
@model BuddySearchModel
@{
    ViewData["Title"] = "Buddy Search";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to find a buddy!</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
